* {
  box-sizing: border-box;
}

body {
  width: 90%;
  margin-left: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  padding: 15px 0;
  background-color: #f4f3ec;
}

a {
  color: black;
  text-decoration: none;
}

.category {
  display: flex;
  margin: 1% 0;
  padding: 15px 0;
  background-color: #f1f1ee;
}

.webucks {
  margin-left: 1%;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-right: 2%;
  font-family: sans-serif;
  font-size: small;
}

.menu {
  color: #9a9a95;
  list-style: none;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid;
  overflow: hidden;
}

.itemName {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid;
  font-size: 15px;
  font-family: sans-serif;
}

#title1 {
  margin-left: 1%;
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: bold;
}

#title2 {
  margin-right: 10px;
}

#title3 {
  font-family: sans-serif;
  font-size: small;
}

img:hover {
  transform: scale(1.1);
  transition: transform.7s;
}
