* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
    background-color: bisque;
    text-indent: 20px;
}

.header__title {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.header__btn {
    display: flex;
    align-items: center;
    padding-right: 20px;
    list-style: none;
    color: rgb(170, 170, 170);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header__btn li {
    padding-left: 20px;
}


main {
    margin: 40px 70px;
}

.detail__title {
    font-size: xx-large;
    font-weight: bold;
}

.detail__path {
    color: rgb(170, 170, 170);
    text-align: right;
}


article img {
    width: 30vw;
    margin-right: 40px;
}

article  {
    display: flex;
    align-items: flex-start;
}

/* 리뷰 white-space속성때문에 width를 지정하게 됨 */
.article__content {
    width: 56vw;
}

.coffeeDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffeeDetails__titleBox {
    display: flex;
    flex-direction: column;
}

.coffeeDetails__title {
    font-size: x-large;
    font-weight: bold;
}

.fas {
    color: lightgray;
    font-size: larger;
    font-weight: 300;
    cursor: pointer;
}

.liked {
    color: red;
}

.coffeeDetails__description {
    margin: 26px 0;
}

.coffeeDetails__line {
    border: 2px solid darkgray;
}



hr {
    border: 1px solid gray;
}

.coffeeDetails__container__nutrition {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: larger;
}

.container__nutrition__info {
    display: flex;
    justify-content:space-between;
    padding: 6px;
    line-height: 180%;
}

.nutrition__info__left {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    border-right: 1.5px dotted lightgray;
}

.nutrition__info__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.txtRight {
    text-align: right;
}


.coffeeDetails__allergy {
    padding: 14px 16px;
    margin: 6px 0;
    border-radius: 2px;
    background-color: lightgray;
}


.review {
    background-color: blanchedalmond;
}

.review__title {
    margin-top: 60px;
    font-size:larger;
    font-weight: bold;
}

.review__oneline {
    width: 100%;
    display: flex;
}

.review__id {
    flex: 1;
    font-weight: bold;
    font-size: small;
}

.review__text {
    flex: 9;
    display: inline-block;
    width: 88%;
    font-size: small;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.review__input {
    /* body 태그에 있어도 input창은 content-box로 사이즈가 바뀌기 때문에 다시 border-box로 지정해줘야 합니다. ( *로 box-sizing을 할 수도 있음!) */
    /* box-sizing: border-box; */
    width: 100%;
    padding: 12px 14px;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
    background-color: lightgray;
}


footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: gray;
    color: whitesmoke;;
}

footer li {
    padding: 4px;
    list-style: none;
}