body {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: bisque;
    text-indent: 20px;
}

.header__title {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: xx-large;
}

.header__btn {
    display: flex;
    align-items: center;
    padding-right: 20px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.header__btn li {
    padding-left: 20px;
}

article {
    display: flex;
    flex-wrap: wrap;
}

.article__title {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: bisque;
    font-weight: bold;
    text-indent: 4px;
}

.article__title__icon {
    width: 2rem;
    height: 2rem;
    margin-left: 6px;
}

.article__smalltitle {
    font-weight: normal;
    font-size: small;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img__frame {
    height: 200px;
    overflow: hidden;
}

img {
    width: 200px;
    height: 200px;
    transition: transform 3s ease-in-out;
}

img:hover {
    transform: scale(1.3, 1.3);
}