/*
  *** Recommended Layout Order ***
      (Refactoring Guide)
  1. Layout Properties (position, float, clear, display)
  2. Box Model Properties (width, height, margin, padding)
  3. Visual Properties (color, background, border, box-shadow)
  4. Typography Properties (font-size, font-family, text-align, text-transform)
  5. Misc Properties (cursor, overflow, z-index)
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}

/*
    HEADER STYLING
*/
header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 20%;
  z-index: 1;
  width: 60%;
  height: 75px;
  padding: 0px 20px;
  background-color: #f6f5ef;
  box-shadow: 10px 10px 20px lightgray;
}

.logo-wrap {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  text-align: center;
}

header a {
  color: black;
  text-decoration: none;
}

nav {
  min-width: 50%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  padding: 5px;
  list-style: none;
}

/*
    FOOTER STYLING
*/
footer {
  width: 100%;
  background-color: #2c2a29;
}

.footer-menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
  padding: 10px 50px;
  color: white;
}

.footer-menus ul li {
  list-style: none;
}

.footer-menu-title {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 100;
}

.footer-menu-content {
  margin-bottom: 6px;
  font-size: 12px;
}

footer a {
  color: #f6f5ef;
  text-decoration: none;
}

/*
  MAIN CONTENTS (SECTION)
  STYLING
*/

.detail {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 30px;
}

.detail-category {
  position: relative;
  height: 80px;
  padding: 10px;
}

.detail-category ul {
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 0;
  bottom: 0;
  width: 400px;
}

.detail-category ul li {
  list-style: none;
}

.detail-category a {
  text-decoration: none;
}

.topMenu {
  color: #c8c8c8;
}

.currentMenu {
  color: #2c2a29;
}

.detail-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-img-wrap {
  max-width: 45%;
  min-width: 300px;
  padding: 10px;
}

.detail-img-wrap img {
  width: 100%;
}

.detail-text-wrap {
  max-width: 55%;
  padding: 10px;
}

.detail-text {
  position: relative;
}

.detail-text h3 {
  padding-bottom: 18px;
  margin-bottom: 20px;
  color: #222;
  border-bottom: 2px solid #333;
  font-size: 25px;
  font-weight: 400;
}

.detail-text span {
  color: #666;
  font-size: 16px;
}

.myDrink-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.detail-text p {
  margin-bottom: 20px;
  font-size: 16px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info-head {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.product-info-head p {
  color: #222;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

.product-info-content {
  display: flex;
  justify-content: space-between;
}

.product-info-content ul {
  width: 45%;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
}

.dotted-border {
  margin: 20px auto;
  border-right: 1px dashed #ddd;
}

.product-info-content li {
  padding-bottom: 15px;
  list-style: none;
}

.product-info dl {
  display: flex;
  justify-content: space-between;
}

.allergens-wrap {
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: #ddd;
}

.detail-review {
  margin-bottom: 30px;
}

.detail-review h2 {
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
}
.detail-review ul {
  padding: 20px 0px;
  list-style: none;
}

.detail-review dl {
  display: flex;
  justify-content: flex-start;
}

.detail-review dt {
  font-weight: 800;
  padding-right: 10px;
}

.review-input {
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  border: none;
}
