/*
  *** Recommended Layout Order ***
      (Refactoring Guide)
  1. Layout Properties (position, float, clear, display)
  2. Box Model Properties (width, height, margin, padding)
  3. Visual Properties (color, background, border, box-shadow)
  4. Typography Properties (font-size, font-family, text-align, text-transform)
  5. Misc Properties (cursor, overflow, z-index)
*/

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f5ef;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 20px lightgray;
}

.logo-wrap,
.loginForm-wrap,
.findPw-wrap {
  width: 80%;
  margin: 0 40px;
}

.logo-wrap {
  margin-top: 15%;
  height: 100px;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  text-align: center;
}

.loginForm-wrap {
  height: 180px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.input-wrap,
.button-wrap,
.input-wrap input,
.button-wrap button {
  width: 300px;
  height: 45px;
}

.input-wrap input {
  padding: 10px 10px 3px 10px;
  background-color: #f6f5ef;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.button-wrap button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #b2dffd;
  font-size: 15px;
}

.findPw-wrap {
  margin: 20% auto;
  text-align: center;
}

.findPw {
  color: #3795f6;
  font-size: 15px;
  text-decoration: none;
}

.input-wrap,
.button-wrap {
  position: relative;
}

.input-wrap label {
  position: absolute;
  left: 10px;
  top: 13px;
  color: #999;
  font-size: 15px;
  transition: 0.5s;
  pointer-events: none;
}

.pw-btn {
  position: absolute;
  right: 10px;
  top: 12px;
  width: 50px;
  padding: 4px;
  color: white;
  background-color: #3795f6;
  border: none;
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.input-wrap input:focus ~ label,
.input-wrap input:valid ~ label {
  top: 3px;
  font-size: 12px;
}

#userPw:focus ~ .pw-btn {
  opacity: 1;
}
