@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #EEEFEF;
}

.body__container {
    margin: 35px 150px;
    background-color: #FFFFFF;
}

.bar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 40px;
    background-color: #F5F5D7;
}

.bar1-left {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.bar1-right {
    width: 35%;
}

.bar1-right ul {
    display: flex;
    justify-content: space-around;
    opacity: 0.5;
}

.bar1 nav {
    display: flex;
    flex-direction: column;
}


main {
    margin-top: 30px;
}

.bar2, .bar3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    margin-bottom: 30px;
    height: 70px;
    background-color: #F5F5D7;
}

.bar2 h2, .bar3 h2 {
    font-size: 18px;
    font-weight: 900;
    opacity: 0.75;
}

.bar2 span, .bar3 span {
    display: flex;
    width: 80%;
    margin: 10px 17px;
    opacity: 0.73;
}

.bar2 img, .bar3 img {
    height: 25px;
}

.coldbrew__line1, .coldbrew__line2, .coldbrew__line3{
    position: relative;
    display:flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20px;
}

.coldbrew img, .brewed img{
    width: 90%;
    transition: transform 0.5s;
}


.coldbrew img:hover, .brewed img:hover {
    transform: scale(1.1);
}


.brewed__line {
    position: relative;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: center;

}

