@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.google.com/icons?selected=Material+Icons:filter_alt&icon.query=heart');
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cursiveWord{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 20px;
}
.top-box{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    width: auto;
    align-items: center;
    background-color: #F4F4F2;
    padding: 5px 20px;
}
#second-box{
    background-color: white;
}
.title{
    font-size: 30px;
    margin-left:20px;
}
.ul-box{
    height: 100%;
    margin-right: 20px;
}
/* ul{
    display: flex;
    list-style: none;
    padding-left:0px;
} */

.linkList li{
    margin-left: 10px;
    color:#a8a8a6;
}
.linkList{
    display: flex;
    list-style: none;
    padding-left:0px;
}
.small-linkList{
    display: flex;
    list-style: none;
    padding-left:0px;
    color:#a8a8a6;
    justify-content: flex-end;
    margin:0px;
    align-items: center;
}

.small-linkList li{
    margin-left:10px;
    color:#a8a8a6;
    justify-content: flex-end;
}
i{
    margin-left: 10px;
}

/* section */
section{
    margin: 10px 20px 0px 20px;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 5%;
}
.coffee-image{
    width: 100%;
}
.coffee-image img{
    width:100%;
}
.coffee-title{
    padding-bottom: 10px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.small-title{
    margin-top: 0px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}
.small-title-English{
    font-size :14px;
    font-weight: 500;
    color: #666;
}
.coffee-description{
    border-bottom: 1px solid #DFDFDF;
    line-height: 1.6;
}
.coffee-nutrition{
    display: flex;
    justify-content: space-between;
    padding:0px 20px;
    border-bottom: 1px solid #DFDFDF;
    font-size: 20px;
}
.coffee-nutrition-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
}
.coffee-nutrition-detail-in > ul{
    padding-left: 0px;
    flex-direction: column;
    justify-content: space-between;
}
.coffee-nutrition-detail-in > ul > li{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
#left{
    display: flex;
    list-style: none;
    padding-left:0px;
    border-right: 1px dashed #DFDFDF;
}
.coffee-nutrition-detail-in > ul{
    display: flex;
    list-style: none;
    padding-left:0px;
}
/* 알레르기 유발 요인 */

.allergy{
    padding: 15px 20px;
    background-color: #F4F4F2;
    font-size:15px;
    border-radius: 3px;
    font-weight: 500;
    color:rgb(54, 54, 54);
    line-height: 1.6;
    margin-bottom:40px;
}

.review > h3{
    padding-bottom: 5px;
    border-bottom: 1px solid #DFDFDF;
}
a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.review-list > ul{
    display: block;
}
input{
    width: 100%;
    background-color: #F4F4F2;
    border-radius:3px;
    border:none;
    padding: 15px 20px;
    font-size: 15px;
}
footer{
    margin-top: 100px;
    padding: 20px 20px 0px 20px;
    width: 100%;
    background-color: #333333;
    color: white;
}
.footer-boxes{
    display: flex;
    justify-content: space-between;
}
.footer-box > ul{
    list-style: none;
    padding-left:0px;
    line-height: 2;
}
