* {
  box-sizing: border-box;
}

.container {
  width: 20%;
  height: auto;
  margin: 100px auto;
  border: 3px solid #dddddd;
}

.login-logo {
  margin: 10% 25% 5% 25%;
  text-align: center;
}

.login-logo img {
  width: 100%;
  height: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  position: relative;
}

input:focus {
  outline: none;
}

.showHide {
  position: absolute;
  top: 42%;
  left: 78%;
  border: none;
  background-color: thistle;
  color: white;
  font-weight: bold;
  height: 15%;
  border-radius: 10px;
  cursor: pointer;
}

.login-form input {
  margin: 1.5% 10%;
  padding: 2%;
  border: 3px solid #dddddd;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 1rem;
}

#toList {
  margin: 1.5% 10%;
  padding: 2%;
  border-radius: 5px;
  border: none;
  background-color: #b4d2e8;
  color: #e3edf6;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 1s;
}

.login-forget {
  margin: 30% 30% 10% 30%;
  text-align: center;
  font-size: 1rem;
}

.login-forget a:link {
  color: #a0b5c7;
  text-decoration: none;
}
