body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  width: 1100px;
  padding: 0 3rem;
  background: #ffffff;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  width: 99.8%;
  height: 75px;
  background-color: #f6f5f0;
  border: none;
}

.logo {
  position: absolute;
  font-family: "Bree Serif", serif;
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  margin-left: -900px;
}

.coffee {
  position: absolute;
  margin-left: 400px;
  color: #d4d3ce;
}

.menu {
  position: absolute;
  margin-left: 550px;
  color: #d4d3ce;
}

.store {
  position: absolute;
  margin-left: 700px;
  color: #d4d3ce;
}

.what {
  position: absolute;
  margin-left: 900px;
  color: #d4d3ce;
}

.top_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.coffee-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.menu_name {
  display: flex;
  align-self: center;
}

.menu_name2 {
  display: flex;
  align-self: center;
  margin-top: -20px;
}

.line {
  border: 3px solid black;
  width: 38em;
}

p.nutrition1 {
  position: relative;
  margin-left: 500px;
}

.coffee-menu2 {
  display: flex;
}

.nutrition1 {
  display: flex;
  margin-top: 20px;
}
.s {
  flex-direction: row;
  align-items: flex-end;
  margin-right: 270px;
  font-size: 1.5em;
}
.p {
  flex-direction: row;
  margin-left: -30px;
  font-size: 1.5em;
}
