.html, body {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: purple; */
}
.logo {
    /* background-color: red; */
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    margin-top: 12%;
    text-align: center;
}

.we_logo {
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    /* margin: auto; */
    color: black;
    text-decoration: none;
    /* background-color: yellow; */
}

/* .login {
    margin-top: 10%;
    background-color: orange;
} */

.login_input {
    width: 75%;
    display: block;
    background-color: #f7f7f7;
    border: 3px solid #dfdfdf;
    margin: auto;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
    font-size: 1.5rem;
    
}

.login_input:nth-child(2) {

    margin: 4% auto 4% auto;
    
}

p {
    /* background-color: royalblue; */
    height: 10px;
    width: 80%;
    margin: auto;
    padding: 0.5% 0 1.5% 5%;
    color: red;
}

/* .loginBtn {
    background-color: green;
    
} */

.login_btn {
    background-color: #aed4ea;
    color: white;
    display: block;
    font-size: 1.8rem;
    padding: 2% 2% 2% 2%;
    margin: auto;
    width: 80%;
    border: 0;
    border-radius: 10px;
}

.lostPw {
    /* background-color: pink; */
    text-align: center;
    margin-top: 20%;
}

.lost_pw {
    font-size: 1.3rem;
    text-align: center;
    color: 	#92afc2;
    text-decoration: none;
    
}