.container {
  margin: 50px auto;
  padding: 60px 30px;
  height: 450px;
  width: 400px;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 20px;
}

.container input {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 10px;
  height: 30px;
  width: 350px;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #acacac;
  background-color: #efefef;
}

#logInBtn {
  margin-top: 20px;
  height: 40px;
  width: 374px;
  border: 1px solid #CBE3F2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: #61ADEC;
  opacity: 0.5;
}

#forgotPassword {
  display: inline-block;
  margin-top: 130px;
  font-weight: bold;
  color: #90AEC3;
}