#container {
    max-width: 860px;
    height: 100vh;
    margin: 0 auto; 
    align-items: center;   
}

section .menu_title {
    background-color: #f4f4f2;
    padding: 20px 10px;
    margin: 15px 0;
}

section ul {
    display: flex;
    flex-wrap: wrap;    
    row-gap: 1em;
    column-gap: 20px;
    
}

section ul li {    
    flex-grow: 0;
}

section ul li dt {
    overflow: hidden;
}

section ul li dd {
    font-size: 14px;
    text-align: center;
    padding: 18px 0;
    margin-bottom: 7px;
}

section ul li a img {    
    width: 200px; 
    transition-duration: 1.2s;   
}

section ul li a img:hover {    
    transform: scale(1.2, 1.2);
    transition-duration: 1.2s;
}