*{
  box-sizing: border-box;
}


#total{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#sub{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hearbuttonJs {
  color: red;
}

.flex{ /*태그에서 공통사용*/
  display: flex;
}

/*상단 navbar*/
#navbar { 
  display: flex;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 1000px;
  height: 70px;
  background-color: #F6F5F0;
  box-shadow: 0.5px 0.5px 15px 10px #EEEFEF;
}

.navbarImg {/*태그에서 공통사용*/
  width: 35px;
  height: 35px;
}

/*상단 navbar 로고*/
#navbar .flex .navbarImg{ 
  margin-top: 10px;
  margin-left: 10px;
}

#navbar .flex h1 {
  margin-left: 15px;
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

/*상단 navbar 메뉴*/
#navbarMenu li {
  margin-right: 20px;
  list-style: none;
  font-size: 12px;
  color: #C0C0BA;
}


/*경로표시 route*/
#menuRoute {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #C0C0BA;
}


/*중단 상세설명*/

#main{
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 1000px;
  margin-top: 20px;
}

.item{
  display: flex;
  justify-content: center;
}


.item .itemImg{
  width: 450px;
  height: 460px;
  margin-right: 50px;
}


.item .itemContent{
  width: 500px;
}

/*item-content 부분중 top*/
.itemNav{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.itemNav .itemTitle h3 {
  margin: 0;
}
.itemNav .itemTitle p {
  margin-top: 5px;
  font-size: 10px;
}


.itemNav .heartIcon {
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.itemNav .heartIcon:hover {
  transition-duration: 0.2s;
  transform: rotate( 45deg );
  cursor: pointer;
  opacity: 0.8;
} 

#contentFontSize {
  font-size: 13px;
}


/*item-content 부분중 middle*/
.tableHeader{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 305px;
}


.listStyle{
  padding: 5px;
  margin-top: 7px;
  list-style: none;
}

.listStyle li {
  font-size: 12px;
}

.listStyle li:not(:last-child){
  margin-bottom: 11px;
}

.tableFooter {
  padding: 12px;
  background-color: #F4F4F2;
}

.tableFooter p {
  font-size: 10px;
  margin: 0;
}


/*item-content 부분중 botton*/
.contentFooter h5 {
  margin: 25px 0 0 0;
  border-bottom: 1px solid black;
}

.contentFooter div p{
  font-size: 8px;
}


.reveiwResults .reveiwContent {
  font-weight: bold;
  font-size: 10px;
}

/*리뷰 부분*/
#reveiwBox {
  width: 100%;
}

#reveiwBox input {
  padding: 7px;
  background-color: #F4F4F2;
  font-size: 8px;
  color: #C0C0BA;
  border: none;
}


#reveiwBox input:nth-child(1){
  width: 30%;
}


#reveiwBox input:nth-child(2){
  width: 68%;
}



/*하단 메모부분*/

#footer{
  padding-right: 200px;
  padding-left: 200px;
  background-color: #333333;
}

.footerList {
  display: flex;
  justify-content: space-around;
}


#footerTitle {
  font-size: 15px;
}

.footerList .footerMenu {
  padding: 0;

}

.footerList .footerMenu li {
  list-style: none;
  font-size: 5px;
  color: white;
}

.footerList .footerMenu li:not(:first-child){
  margin-top: 8px;
}


