* {
  box-sizing: border-box;
}



/*상단 navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 60px;
  background-color: #F6F5F0;
  box-shadow: 0.5px 0.5px 15px 10px #EEEFEF;
  overflow: hidden;
}

.navbarFlex {
  /*태그에서 공통사용*/
  display: flex;
}

.navbarImg {
  /*태그에서 공통사용*/
  width: 35px;
  height: 35px;
}

/*상단 navbar 로고*/
.navbar .navbarFlex .navbarImg {
  margin-top: 10px;
  margin-left: 10px;
}

.navbar .navbarFlex h1 {
  margin-left: 15px;
  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}



/*상단 navbar 메뉴*/
#navbarMenu li {
  margin-right: 20px;
  list-style: none;
  font-size: 12px;
  color: #C0C0BA;
}


/*메인 navbar*/
.navbarSub {
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  width: 90%;
  box-shadow: 0.5px 0.5px 15px 10px #EEEFEF;
}

.navbarSub h3 {
  font-size: 12px;
}

.navbarSub p {
  font-size: 10px;
  font-weight: bold;
}

.navbarSub .navbarSubMenu:not(:last-child) {
  margin-left: 15px;
}




/*메인 메뉴 리스트*/
.menuList {
  display: flex;
  flex-wrap: wrap;
}



/*메인 각 메뉴*/
.menuList .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 300px;
  margin: 15px;
}

.overflower {
  overflow: hidden;
}

.menu .menuImg {
  width: 230px;
  height: 250px;
}

.menu .overflower .menuImg:hover {
  transition-duration: 1.5s;
  transform: scale(1.2);
  cursor: pointer;
}

.menu p {
  margin: 10px 0 5px 0;
  font-size: 15px;
}