*{
    box-sizing: border-box;
}


#flex-center {
    display: flex;
    justify-content: center;
    /* align-items: center; */ /*body태그의 높이가 작아서 가운데정렬않됨*/
}

.main-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px 150px 30px;
    width: 350px;
    background-color: white;
    box-shadow: 1px 1px 15px 0px gray;
}

/*logo-Jibucks*/
.logo h1 {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}

.total-box{
    display: flex;
    flex-direction: column;
}

/*input-boxs*/
.total-box .box {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F7F7F7;
    font-size: 11px;
}
.total-box .box:not(:last-child) {
    padding-left: 15px;
}

.total-box .box:last-child {
    margin-bottom: 50px;
    background-color: #ADD3EB;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.2;
}

/*pw-forget*/
.folder-pw a {
    position: relative;
    top: 90px;
    font-size: 12px;
    font-weight: bold;
    color: #BCCDDA;
    text-decoration: none;
}

.folder-pw a:hover{
    opacity: 0.5;
}




