*{
  box-sizing: border-box;
}


#mainLogin{
  display: flex;
  justify-content: center;
  align-items: center; /*body태그의 높이가 작아서 가운데정렬않됨*/
  min-height: 100vh;
}

#mainForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px 150px 30px;
  background-color: white;
  box-shadow: 1px 1px 15px 0px gray;
}




/*logo-Jibucks*/
#mainForm h1 {
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
}


/*input-boxs*/
#mainForm .boxTotalCSS {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 11px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}
#mainForm .boxTotalCSS:not(:last-child) {
  background-color: #F7F7F7;
  padding-left: 15px;
}

#mainForm #loginButton {
  background-color: #ADD3EB;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.5;
}

#mainForm #loginButton:hover {
  border: 2px solid black;
}

/*pw-forget*/
#mainForm a {
  position: relative;
  top: 120px;
  font-size: 12px;
  font-weight: bold;
  color: #BCCDDA;
  text-decoration: none;
  opacity: 0.5;
}

.mainForm a:hover{
  opacity: 1;
}




