c
.outLine{
  display: flex;
  background-color: #eeefef;
  justify-content: center;
}

.outBox{
  border: 3px solid #dddddd;
  border-radius: 5px;
  margin-top: 100px;
  width: 400px;
  height: 500px;
  background-color: white;
}

.logo{
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  width: 200px;
  height: 100px;
}

.innerBox{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.idBox{
  padding-left: 10px;
  height: 30px;
  margin-top: 20px;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.pwBox{
  padding-left: 10px;
  height: 30px;
  margin-top: 15px;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.logButton{
  color: white;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: #add3eb;
}

.buttonActive{
  color: white;
  height: 40px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
background-color: #61aded;
}

.findPw{
  margin-top: 120px;
  color: #6993af;
  text-decoration : none;
  display: flex;
  justify-content: center;
}