*{
  box-sizing: border-box;
}

h1{
  display:flex;
  justify-content:center;
  margin-top :10%;
  font-style: Regular 400;
  font-family: 'Dancing Script', cursive;
  font-size : 100px;
  font-weight :bold;
  margin-bottom:20px;
}

.input{
  display :flex;
  justify-content: center;
  position : relative;
}

input{
  margin-top:15px;
  padding: 12px 10px;
  border-radius :5px ;
  border : 1px solid lightgray;
  width:32%;
  background-color:#F7F7F7;
  color:gray;
}

.btn{
  display : flex;
  justify-content: center;
  margin-top:20px;
}

.but{
  height:45px;
  width:32%;
  border-radius:10px;
  border:none;
  color:white;
  background-color:#ADD3EB;
  font-size :17px;
}

.but:enabled{
  background-color: blue;
  cursor : pointer;
}


.forget {
  display : flex;
  justify-content: center;
  margin-top:170px;
  color : #62b6ea;
  font-weight:bold;
}

a{
  color: blue;
  text-decoration: none;
}



input:focus{
  outline : none;
} /* 포커스 시 아웃라인 없애줌 */

.show{
  position : absolute;
  right : 37%;
  top : 25px;
  font-size : 11px;
  margin-right : 1px;
  padding : 1;
}

.hide {
  position : absolute;
  right : 34%;
  top : 25px;
  font-size : 11px;
  padding : 1;
  margin-right : 5px;
}
