* {
  box-sizing: border-box;
}

.container {
  width: 400px;
  height: 450px;
  margin: 50px auto;
  padding: 60px 30px;
  border: 2px solid #e4e4e4;
  border-radius: 5px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 0;
}

.loginArea {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  margin: 10px 30px;
}

.inputId,
.inputPassword {
  display: flex;
  margin: 5px;
  padding: 7px;
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: 1px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: #add3ea;
  border-radius: 5px;
  border: 1px solid white;
}

a {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  color: #3e98f2;
  font-size: 3px;
  text-decoration: none;
}
