* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-weight: 900;
  font-family: "Noto Serif KR", serif;
  text-decoration: none;

  --headerBg: rgb(250, 250, 243);
  --categoryFont: rgb(185, 182, 182);
  --investigationBorder: rgb(128, 128, 128);
  --inputBoxBg: #e4e3e3;
  --headerBorder: rgb(54, 54, 54);
  --specBorder: rgb(184, 184, 184);
  --footerBg: rgb(34, 34, 34);
}

a {
  color: var(--categoryFont);
  font-size: 11px;
}

.main-header,
.sub-title,
.product-header,
.product-type,
.spec-list,
.footer-contents {
  display: flex;
  justify-content: space-between;
}

.main-header {
  align-items: center;
  height: 60px;
  background-color: var(--headerBg);
}

.logo-wrapper {
  width: 20%;
  margin-left: 18px;
}

.main-logo {
  font-size: 22px;
  font-family: "Dancing Script", cursive;
}

.category-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.category-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.category-list > li {
  margin: 0 20px;
}

.main-header,
.main-container {
  min-width: 405px;
  margin: 0 10%;
}

.main-container {
  display: grid;
  grid-template-columns: 4.5fr 5.5fr;
  grid-template-rows: 1fr 10fr;
  grid-gap: 10px;
  padding-top: 12px;
}

.sub-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.product-directory {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
}

.product-directory > li {
  margin: 0 3px;
  color: var(--categoryFont);
}

.arrow {
  font-size: 13px;
}

.image-wrapper {
  padding-top: 9px;
}

.product-image {
  width: 95%;
  height: 530px;
}

.product-header {
  align-items: flex start;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--headerBorder);
}

.icon-wrapper {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.heart-icon {
  height: 20px;
}

.text-info {
  padding: 25px 0;
  font-weight: 500;
}

.product-investigate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 4fr;
  grid-gap: 10px;
}

.product-type {
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 20px 15px;
  border-top: 2px solid var(--specBorder);
  border-bottom: 2px solid var(--specBorder);
}

.product-spec01 {
  padding-left: 15px;
  border-right: 2px solid var(--specBorder);
}

.spec-div2 {
  padding-right: 15px;
}

.spec-list {
  align-items: center;
  padding: 10px 0;
}

.product-warning {
  width: 100%;
  margin-top: 15px;
  padding: 15px 0 15px 15px;
  background-color: var(--inputBoxBg);
  font-size: 15px;
}

.review {
  padding-top: 35px;
}

.review-header {
  padding-bottom: 8px;
  border-bottom: 2px solid var(--specBorder);
}

.review-all {
  padding: 15px 0;
  font-size: 15px;
}

.review-input {
  width: 100%;
  margin-top: 25px;
  padding: 5px 0 5px 5px;
  border-radius: 2px;
  background-color: var(--inputBoxBg);
}

.main-footer {
  margin-top: 50px;
  color: white;
  background-color: var(--footerBg);
}

.footer-contents {
  align-items: flex-start;
  height: 200px;
  margin: 0 10%;
  padding-top: 40px;
  font-size: 11px;
}

.footer-list > li {
  margin-bottom: 7px;
}

.footer-menu {
  padding-bottom: 10px;
}

.commentList {
  margin-bottom: 10px;
  font-size: 15px;
}
