* {
  box-sizing: border-box;
  font-family: 'montserrat', 'arial', 'georgia';
}

a {
  color: #000;
  text-decoration: none;
}

body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
}

.inner-wrapper {
  margin: 0 auto;
  width: 1200px;
  min-width: 500px;
}

header.inner-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background-color: #f4f4f2;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  font-weight: bolder;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list-links {
  margin: 0 10px;
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
}

.beer-category-wrapper {
  position: relative;
  display: flex;
}

h2 {
  margin: 15px 0;
  font-size: 1.2rem;
  font-weight: bolder;
}

.breadcrumb-path {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.breadcrumb-path li + li {
  margin-left: 15px;
  padding-left: 15x;
}

.breadcrumb-links{
  color: #666666;
}

.breadcrumb-path li + li::marker {
  content: '> ';
  display: block;
}


.beer-info-wrapper {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: min(450px) auto;
  grid-column-gap: 20px;
  margin-top: 10px;
}

.beer-info-leftsection {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.beer-info-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beer-info-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 3px solid #000;
}

.detail-header h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 5px;
}

.fa-heart {
  margin-right: 5px;
  color: gainsboro;
  cursor: pointer;
}

.nutrition-info {
  margin-top: 15px;
}

.beer-review {
  margin-top: 20px;
}

.beer-review h4 {
  padding-bottom: 5px;
  border-bottom: 2px solid gainsboro;
  font-size: 1.1rem;
  font-weight: bolder;
}
