body {
  all: unset;
  box-sizing: border-box;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  background-color: white;
}

p,
h1,
a,
input {
  all: unset;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 5px 40px;
  background-color: #f6f5f0;
  border-radius: 5px;
}

#logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 700;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  width: 30%;
  color: #bfbfbf;
}

#logoGoHome {
  cursor: pointer;
}

.menuClass {
  font-family: "Baloo Thambi 2", cursive;
  cursor: pointer;
}

#mainHeader {
  display: flex;
  align-items: center;
  margin: 5px 40px 0 40px;
}

#mainTitle {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px 0;
  font-size: 35px;
}

#map {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 70px;
  padding-right: 20px;
  color: #bfbfbf;
}

.menuClass {
  padding: 0 5px;
  font-size: 13px;
}

#Information {
  border: 1px soild black;
  display: flex;
  margin: 0 40px;
}

#detailInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

#detailTitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

#detailText {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#textKor {
  font-size: 25px;
  font-weight: 700;
}

#textEng {
  font-size: 15px;
}

#heart {
  display: flex;
  align-items: center;
}

#descripttion {
  margin-top: 20px;
}

#ingredients {
  display: flex;
  flex-direction: column;
}

#ingredientsTitle {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 15px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  font-size: 20px;
  font-weight: 600;
}

#ingredientsTable {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#ingredientsTableDivide1 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}

#ingredientsTableDivide2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0 20px;
}

.ingredientsTablePart1 {
  display: flex;
  flex-direction: column;
}

.ingredientsTablePart2 {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.ingredientText {
  margin: 3px 0;
}

#ingredientsAllergie {
  padding: 10px 15px;
  background-color: #efefef;
  border-radius: 5px;
}

#reviewContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#reviewTitle {
  padding: 0 0 10px 0;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #bfbfbf;
}

#reviewDetail {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.reviewDetailPart {
  display: flex;
}

.reviewID {
  font-weight: 700;
  margin: 0 10px 5px 0;
}

#reviewMessage {
  padding: 10px 15px;
  background-color: #efefef;
  border-radius: 5px;
}
