.detail-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 60px;
  margin: 0 175px 25px 175px;
}

.detail-title-coffee {
  position: relative;
  top: -30px;
  font-size: 30px;
}

.detail-title-menu {
  opacity: 0.3;
}

.detail-main {
  display: flex;
  justify-content: space-between;
  margin: 0 175px;
}

.detail-main img {
  width: 45%;
  height: 45%;
}

.detail-info {
  width: 55%;
  margin-left: 40px;
}

.detail-info-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.detail-info-title-name {
  display: flex;
  flex-direction: column;
}

.detail-info-title-name span:first-child {
  font-size: 25px;
  padding-bottom: 10px;
}

.detail-info-title-name span:last-child {
  font-size: 14px;
}

.fa-heart {
  opacity: 0.3;
  margin: 15px 5px 0 0;
}

.detail-info-description {
  padding: 30px 0;
  font-size: 16.5px;
}

.detail-info-nutrition {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.detail-info-nutrition span {
  padding: 0 12px;
}

.detail-info-nutrition-details {
  display: flex;
}

.detail-info-nutrition-details > div {
  width: 50%;
  margin: 20px 0;
}

.detail-info-nutrition-details > div:first-child {
  border-right: 1px dotted rgba(0, 0, 0, 0.2);
}

.detail-info-nutrition-details > div > div {
  display: flex;
  justify-content: space-between;
}

.detail-info-nutrition-details span {
  padding: 0 12px 22px 12px;
  font-size: 15px;
}

.detail-info-alergy {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.05);
}

.detail-info-review-title {
  margin: 35px 0 20px 0;
  padding-bottom: 7px;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.detail-info-review-comment div {
  margin-bottom: 5px;
}

.detail-info-review-comment div > span:first-child {
  font-weight: bolder;
  font-size: 13px;
}

.detail-info-review-comment div > span:last-child {
  font-weight: normal;
  font-size: 14px;
}

.detail-info-review-comment div:last-child {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 12px;
  margin: 30px 0 80px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.05);
}

.detail-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 130px;
  color: white;
  background-color: #2c2a29;
}

.detail-footer div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.detail-footer ul {
  list-style: none;
}

.detail-footer li {
  margin: 10px 0 10px 0;
}

.detail-footer h6 {
  margin-bottom: 12px;
}
