.list-header,
.cold-brew-description,
.brewed-description {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 0 175px 25px 175px;
  background-color: #eeefef;
}

.list-header {
  justify-content: space-between;
}

.list-logo {
  margin-left: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

.list-side-menu span {
  margin: 0 15px;
  font-size: 13px;
  letter-spacing: 3px;
  opacity: 0.3;
}

.coffee-name {
  margin: 0 20px;
}

.coffee-option {
  margin: 0 13px;
  font-size: 13px;
}

.cold-brew-img,
.brewed-img {
  margin: 0 175px;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.img-row img {
  display: block;
  width: 250px;
  height: 260px;
  transform: scale(1);
  transition: all 0.8s ease-in-out;
}

.img-row img:hover {
  transform: scale(1.1);
}

.img-row div {
  text-align: center;
}

.img-row div span {
  display: block;
  margin-top: 18px;
  margin-bottom: 35px;
}

.img-row a {
  display: block;
  width: 250px;
  height: 260px;
  overflow: hidden;
}
