.body__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-width: 1100px;
  height: 55px;
  padding: 10px 20px;
}

/* header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f4f4f2;
}

.menu-group.right img {
  width: 100px;
}

.menu-group.left ul {
  display: flex;
  justify-content: space-around;
}

.menu-group.left li {
  padding: 5px;
}

.menu-group.left a {
  color: rgb(146, 135, 120);
}

.menu-group.left a:hover {
  color: rgb(171, 89, 17);
}
#toggle-bar {
  display: none;
}

/* product */
.product-list {
  max-width: 1100px;
  width: 100%;
}

.product-list__header {
  display: flex;
  background-color: #f4f4f2;
  line-height: 35px;
}

.product-list__header h2 {
  font-weight: bold;
  font-size: 18px;
}

.product-list__header * {
  margin-right: 15px;
}

.product-list__content {
  font-size: 14px;
}

.product-list__product {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 15px 0 50px 0;
}

.product-list a {
  color: #000;
}

.product-list a:visited {
  color: #000;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;
}

.image-box:nth-child(4n + 1) {
  margin-left: 0;
}

.image-box:nth-child(4n) {
  margin-right: 0;
}
.image-wraper {
  width: 260px;
  height: 270px;
  overflow: hidden;
}

.image-box img {
  width: 260px;
  height: 270px;
  transition: all 0.5s linear;
}

.image-box img:hover {
  transform: scale(1.11);
}

.image-title {
  display: flex;
}

.image-title p {
  margin: 15px 0;
}

.image-title .fa-heart {
  margin: 13.3px;
  color: #ccc;
  cursor: pointer;
}

/* footer */
footer .inner {
  margin-top: 100px;
  background-color: #333;
  width: 100vw;
}

.footer-list-wrap {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
}

.footer-list-wrap a {
  color: #fff;
}

.footer-list {
  margin: 60px 0;
}

.footer-list__title {
  margin: 20px 16px;
}

.footer-list__item {
  margin: 16px;
}

@media (max-width: 1200px) {
  .section {
    max-width: 700px;
  }

  .product-list__header {
    margin: 0 auto;
  }

  .product-list__product {
    justify-content: center;
  }

  .footer-list-wrap {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .image-box:nth-child(4n + 1),
  .image-box:nth-child(4n) {
    margin: 20px 10px;
  }

  .footer-list {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .section {
    position: relative;
    max-width: 300px;
    display: block;
  }

  .product-list__title {
    font-size: 13px;
  }

  .menu-group.left {
    display: none;
  }

  .product-list__header {
    flex-direction: column;
    height: 100px;
    text-align: center;
  }

  .product-list__header img {
    display: none;
  }

  .product-list__header p {
    font-size: 15px;
    line-height: 15px;
  }

  #toggle-bar {
    position: absolute;
    top: 12px;
    right: 20px;
    display: block;
    cursor: pointer;
  }

  .on.toggle {
    display: block;
  }

  .on.toggle ul {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 300px;
    z-index: 5;
    right: 20px;
    background-color: #f4f4f2;
  }
}
