body {
  background-color: white;
}

#coffeeListPageContainer {
  margin: 0 auto;
  padding: 0 180px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: rgb(244, 244, 242);
  z-index: 1;
}

#title {
  font-size: 23px;
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
}

#navMenus {
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 3px;
  color: rgb(165, 165, 161);
}

#navMenus li { 
  padding-left: 20px;
  white-space: nowrap;
}

#navMenus li:hover {
  cursor:pointer;
  color: #1B3C35;  
}

#loginLink {
  text-decoration: none;
  color:rgb(165, 165, 161); 
}

#loginLink:hover {
  color: #1B3C35;
}

.mainCategoryWrapper {
  margin-bottom: 35px; 
}
.coldBrewCoffeeSection {
  padding-top: 15px;
}

.categoryHeader {
  background-color: rgb(246, 240, 245);
  padding: 15px;
}

.coffeeTypeName, .coffeeDetailDescription {
  display: inline-block
}

.sectionContents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 20px 0px; 
  text-align: center;
}

.divWrapperAllImgAndName {
  transition: ease-in-out .10s;   
}

.divWrapperCoffeeImg {  
  height:265px;
  margin-bottom: 15px; 
  cursor: pointer;
  margin:0;
  overflow: hidden; 
}

.coffeeImg {
  width: 255px;
} 

.coffeeName {
  padding-top: 10px;
  padding-bottom: 10px;
}

.magnifiedImg {
  transform: scale(1.15);
  transform-origin: center;
  transition-duration: 1s, 3s;
}
