body{
  background-color: #eeefef;
}


#loginWindow {
  display: flex;
  flex-direction: column;
  align-items : center;
  flex: 1 1 0;
  height: 80vh;  
  margin: 80px 450px;
  padding: 30px 60px;
  background-color: white;
  border: 5px solid #e8e8e8;
  border-radius: 10px;
  text-align: center;
}

.title {
  flex: 0.28 1 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Dancing Script', cursive;
  font-size: 4.5rem;
  font-weight: bold;
}

.userInputBox {
  flex: 0.35 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.userInputBox #userLoginId, #userLoginPsw {
  height: 55px;
  padding: 0 10px;
  background-color: #f7f7f7;
  border: 3px solid #eaeaea;
  border-radius: 5px;
  font-size: 16.5px;
  color:#9b9696
}

#userLoginId::placeholder {
  font-weight: 600;
  color:#918888;
}

#userLoginPsw::placeholder {
  font-weight: 600;
  color:#918888;
}

.userInputBox #userLoginBtn {
  height: 50px;
  background-color: #add3eb;
  border: 3px solid #add3eb;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

#userLoginBtn.changeBtnColor{
  background-color:#1ca5ea;
  border: 3px solid #1ca5ea;
}


.findUserPsw {
  flex: 0.3 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight:bolder;
  text-decoration: none;
  color: rgb(130, 164, 188);
}
