* {
  Box-sizing : border-box; 
  color : #454545;
}

body {
  margin : 0px;
}

.navbar {
  width : 1100px;
  height: 60px;
  padding: 0 30px;
  margin: 0 auto;
  background-color: rgb(241, 238, 238);
}

.navbar #logo {
  line-height: 50px;
}

#logo img{
  vertical-align: middle;
}

.navbar #nav_menu {
  float: right;
  list-style: none;
  margin : 0;
}

.navbar #nav_menu li {
  float: left;
  margin-left: 40px;
  line-height: 60px;
}

.navbar #nav_menu li a{
  color : darkgray;
  font-size: 15px;
  text-decoration: none;
}

/****************************상단**********************************/

.menubar  {
  width : 1100px;
  height: 60px;
  margin : 30px auto;
}

.menubar h1 {
  font-size: 25px;
  font-weight: bold;
}

.menubar p {
  text-align: right;
  font-size: 13px;
  color : rgb(139, 136, 136);
}

/****************************디테일**********************************/

.menu {
  width: 1100px;
  height: 680px;
  margin : 0 auto;
  padding-top : 20px;
}

.mainPic {
  margin-right: 50px;
  width : 450px;
}

.menuDetail {
  float: right;
  clear: left;
  width: 600px;
}

/****************************디테일(R)**********************************/

.menuDetailTitle {
  height: 70px;
  border-bottom: 2px solid #454545;
}

.name_ko {
  margin : 0px;
  font-size: 22px;
  font-weight: bold;
}

.name_en {
  margin : 0px;
  font-size : 14px;
}

.heart {
  float : right;
  margin-top : 10px;
  margin-right: 5px;
}

.menuDetailText {
  height: 70px;
  border-bottom: 1px solid lightgray;
}

.menuDetailText p {
  color : #454545;
  font-size: 15px;
  line-height: 25px;
}

.menuDetailInfo {
  height: 70px;
  padding : 23px 10px;
  border-bottom: 1px solid lightgray;
  font-size: 16px;
}

.InfoDetail {
 float : right;
}


.menuDetailIngre {
  height: 100px;
}

.menuDetailIngre ul {
  float: left;
  padding : 0 10px;
  list-style-type: none;
  line-height: 30px;
  font-size: 13px;
}

.menuDetailIngre .detail_L {
  width: 200px;
}

.menuDetailIngre .detail_R {
  width: 100px;
  text-align: right;
}

#line {
  border-right: 1px dashed lightgray;
}

.menuDetailAllergy {
  height: 50px;
  border-radius: 5px;
  background-color: rgb(241, 238, 238);
}

.menuDetailAllergy p {
  padding-left: 10px;
  font-size: 14px;
  line-height: 50px;
}

.review {
  height: 120px;
  margin-top : 30px;
}

.reviewTitle {
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
  font-weight: bold;
}

.reviewId {
  font-weight: bold;
}

.review span {
  font-size: 13px;
}

.reviewEnter {
  background-color: rgb(241, 238, 238);
  height: 30px;
  border-radius: 5px;
}

.reviewEnter p {
  padding-left : 10px;
  color : gray;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
}

/****************************FOOTER**********************************/

footer {
  background-color: #454545;
}

.footer_in {
  width: 1200px;
  height: 250px;
  margin : 0 auto;
  padding: 0;
}

.footer_in ul {
  float: left;
  margin-left: 20px;
  margin-right: 30px;
  list-style-type: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 25px;
}

.f_title {
  padding-top: 20px;
  padding-bottom: 6px;
  color : white;
}

.footer_in li {
  color : white;
}