* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeefef;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 700px;
  border: 3px solid #e0e0e0;
  border-radius: 5px;
  background-color: #ffffff;
}

header {
  padding-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

.inputArea {
  position: relative;
  height: 250px;
  margin-bottom: 200px;
}

.inputArea input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
  padding-left: 5px;
  margin: 20px;
  border: 2px solid #e3e3e3;
  border-radius: 5px;
  background-color: #f7f7f7;
  outline: none;
}

.inputArea .fa-solid {
  position: absolute;
  top: 105px;
  right: 30px;
  cursor: pointer;
}

.inputArea .loginBtn {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin-left: 20px;
  color: white;
  background-color: #61aded;
  border: 0px solid black;
}

.inputArea .loginBtn:disabled {
  opacity: 0.5;
}

.inputArea .loginBtn a {
  display: block;
  text-decoration: none;
  color: white;
}

footer a {
  text-decoration: none;
  color: #7a9db7;
}
