@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: #EEEFEF;
}

#loginSection {
    width: 400px;
    padding: 60px 50px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

#title {
    margin-bottom: 40px;
    font-family: 'Dancing Script',
    cursive;
    font-size: 70px;
    font-weight: bold;
}

.loginInput {
    margin-bottom: 25px;
    padding: 15px 0 15px 10px;
    width: 90%;
    background: #F7F7F7;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.loginButton {
    margin-bottom: 120px;
    width: 93%;
    padding: 15px 0;
    border: none;
    border-radius: 6px;
    background: #D5E7F8;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.forgetPW {
    text-decoration: none;
    font-weight: bold;
    color: #779DB6;
}