@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gowun Dodum', sans-serif;
}

/*header*/

header {
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #F6F5EF;
  z-index: 99999;
}

header h1 {
  float: left;
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  padding-left: 20px;
}

header nav ul {
  position: absolute;
  list-style: none;
  right: 20px; top: 0;
}

header nav ul li {
  float: left;
  padding: 0 10px;
  font-size: 18px;
  line-height: 100%;
  color: #D5D4CF;
}

/*article*/

.sector {
  display: flex;
  align-items: center;
  margin: 0 auto 20px;
  height: 44px;
  width: 1200px;
  min-width: 550px;
  background-color: #F6F5F0;
}

.coldbrew {
  margin-top: 100px;
}

h2 {
  float: left;
  padding: 0 20px;
  font-size: 20px;
}

h3 {
  font-size: 15px;
  padding-left: 10px;
}

.coldbrew-menu {
  margin: 0 auto;
  width: 1280px;
}

.menus ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px 20px 0;
  width: 200px;
  height: 232px;
  text-align: center;
}

.menus ul a {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.menus ul img {
  width: 100%;
  transform: scale(1.0);
  transition: transform 1s;
}

.menus ul p {
  display: inline-block;
  text-align: center;
  margin-top: 0;
}

.menus ul img:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.brew-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 1280px;
}