*{
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container{
    width: 70%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px 0;
    padding: 15px 20px;
    background-color: #efebe9;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.nav-bar{
    display: flex;
    color: gray;
}

.nav-bar div {
    padding-left: 20px;
}

.coffee-menu{
    padding: 20px 20px;
    background-color: #efebe9;
}

.coffee-menu span {
    font-size: 13px;
    font-weight: 400;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
    margin: 40px 0;
}

section div{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

section div img{
    max-width: 100%;
}

section div img:hover{
    transform: scale(1.05);
}