@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

.topmenu {
  background-color: #f6f5ef;
  padding-top: 15px;
  width: 870px;
  height: 70px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

header nav {
  width: 400px;
  padding-right: 20px;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header li {
  font-size: 15px;
  display: flex;
  align-items: center;
  list-style: none;
}

header li p {
  color: #83704b;
}

.category {
  margin-left: 290px;
  padding: 20px 0;
  font-size: 25px;
  font-weight: bold;
}
