@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.hide {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

html {
  position: relative;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100%;
}

/* header start */
.header {
  background-color: #f6f5ef;
  padding-top: 15px;
  width: 1250px;
  height: 70px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

header nav {
  width: 400px;
  padding-right: 20px;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header li {
  font-size: 15px;
  display: flex;
  align-items: center;
  list-style: none;
  color: #83704b;
}
/* header end */

/* main start */
section {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.category {
  width: 1250px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 35px;
}

.category li {
  padding-top: 30px;
  list-style: none;
  font-size: 15px;
  color: #929292;
}

.main {
  width: 1250px;
}

img {
  width: 600px;
  height: 550px;
  margin: 30px 20px 150px 0;
}

.detail1 {
  padding-top: 30px;
}

.name {
  list-style: none;
  float: left;
}

.ko {
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
}

.en {
  margin: -8px 0 20px 40px;
}

.heart:hover {
  cursor: pointer;
}

.white {
  float: right;
  margin: 15px 5px 0 0;
  color: #929292;
}

.red {
  float: right;
  margin: 15px 5px 0 0;
  color: #c73d3d;
}

.detail1 hr {
  margin: 15px 0 0 40px;
  width: 590px;
  border: 0;
  height: 2px;
  background-color: black;
}

p {
  margin: 20px 0 0 40px;
  padding-bottom: 10px;
}

.infoTitle hr {
  background-color: #dfdfdf;
  height: 1px;
}

.infoTitle p {
  font-size: 23px;
  margin-left: 60px;
  padding: 5px 0;
}

.tall p {
  font-size: 23px;
  float: right;
  margin: -50px 20px 0 0;
}

.tall hr {
  background-color: #dfdfdf;
  height: 1px;
}

.one {
  margin: 20px 0 0 60px;
}

.fat {
  margin: 5px -10px 0 60px;
}

.protein {
  margin: 5px -10px 30px 60px;
}

.amount1 {
  text-align: center;
  margin: -125px 70px 0 0;
}

.main .between {
  background-color: #a0a0a0;
  border: 0;
  border-left: 1px dashed #ffffff;
  width: 1px;
  height: 100px;
  margin: -135px 0 0 335px;
}

.info2 {
  text-align: center;
  padding-left: 100px;
  margin-top: -113px;
}

.sweet1 {
  margin: 5px 45px 0 60px;
}

.caffeine {
  margin: 5px 0 30px 40px;
}

.amount2 {
  text-align: right;
  margin: -130px 20px 0 0;
}

.sweet2 {
  margin: 5px 0 0 60px;
}

.alergy {
  background-color: #efefef;
  border-radius: 4px;
  margin-left: 40px;
  height: 50px;
}

.alergy p {
  padding-top: 13px;
  margin-left: 20px;
  font-size: 18px;
}

.reviewTitle {
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
}

.review hr {
  border: 0;
  background-color: #dfdfdf;
  height: 1px;
  margin-top: -5px;
  margin-bottom: 20px;
}

.review .id {
  font-size: 14px;
  margin-left: 40px;
  padding: 2px;
  font-weight: bold;
}

.review .text {
  font-size: 13px;
}

.trash1,
.trash2,
.trash3 {
  float: right;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: #929292;
}

.like {
  float: right;
  border: none;
  background-color: #ffffff;
  color: #929292;
  padding: 2px 2px;
  cursor: pointer;
}

.like1,
.like2,
.like3 {
  float: right;
  color: #c73d3d;
  cursor: pointer;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.writeComment i {
  float: right;
  font-size: 13px;
  padding: 2px 1px 0 0;
  color: #929292;
}

.writeComment {
  font-size: 15px;
  margin-left: 21px;
}

.review .comment {
  background-color: #efefef;
  border: 0;
  width: 590px;
  height: 30px;
  margin: 10px 0 50px 40px;
  padding-left: 10px;
  font-size: 13px;
}

.userId {
  font-weight: bold;
}
/* main end */

/* footer start */
.footer {
  background-color: #333333;
  padding-top: 12px;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}

footer {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer nav {
  width: 1200px;
  padding: 20px 0 0 27px;
  display: flex;
}

footer ul {
  width: 100%;
  display: flex;
}

footer li {
  margin: 3px;
}

.footerMenuTitle {
  margin-bottom: 10px;
}

.firstMenu,
.secondMenu,
.thirdMenu,
.fourthMenu,
.fifthMenu,
.sixthMenu {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #ffffff;
}

aside li {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  list-style: none;
  font-size: 12px;
  color: #929292;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* footer end */
