@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

.header {
  background-color: #f6f5ef;
  padding-top: 15px;
  width: 870px;
  height: 70px;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 30px;
  margin-left: 20px;
}

header nav {
  width: 400px;
  padding-right: 20px;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header li {
  font-size: 15px;
  display: flex;
  align-items: center;
  list-style: none;
  color: #83704b;
}

.blank {
  height: 30px;
}

.category {
  background-color: #f4f4f2;
  width: 870px;
  height: 60px;
  padding-left: 20px;
  padding-top: 18px;
  margin: 0 auto;
}

.categoryName {
  font-size: 18px;
  font-weight: bold;
}

.option {
  font-size: 14px;
}

.wrapper {
  padding: 0px 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

.img p {
  padding-top: 10px;
}

.empty {
  width: 200px;
  height: 200px;
}

.scale {
  height: 200px;
  width: 200px;
  overflow: hidden;
}

.scale img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.scale img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.img i:hover {
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    height: 90px;
  }

  .headerMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headerMenu li {
    width: 50%;
  }

  .header h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: -5px 0 0 10px;
  }
}
