body {
  margin: 0;
}

header,
section > *,
article {
  margin: 0 150px;
  padding-top: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f4f4f2;
}

header img {
  max-width: 110px;
}

nav ul li {
  margin: 5px 10px;
  width: max-content;
  font-size: 15px;
}

section ul {
  float: right;
  font-size: 10px;
}

section ul li {
  margin: 3px;
}

article {
  clear: right;
  display: flex;
}

article figure {
  margin-left: 0;
  max-width: 50vw;
  max-height: auto;
}

table {
  text-align: left;
  min-width: 40vw;
  border-collapse: collapse;
}

th {
  margin: 0;
  font-size: 20px;
}

th h3 {
  margin: 0;
}

th span {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

td span {
  font-size: 20px;
}

th + td {
  text-align: right;
}

.heart {
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  opacity: 0.5;
  font-size: 30px;
}

.heart :hover {
  font-size: 35px;
  transition-duration: 0.1s;
}

.tdtitle {
  margin: 0;
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.menu-de {
  border-top: 3px solid black;
  border-bottom: 1px solid black;
}

.menu-ti {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}

.menu-detail {
  text-align: right;
  padding-right: 5px;
  border-right: 1px solid black;
}

.menu-detail + td {
  padding-left: 10px;
  padding-right: 10px;
}

.menu-detail + td + td {
  text-align: right;
  padding-right: 10px;
}

.menu-al {
  margin: 20px 0;
  padding: 10px 10px;
  background-color: #efefef;
}

td {
  padding: 5px;
}

aside h4 {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
}

.user-id {
  font-weight: bold;
}

aside input {
  margin-top: 20px;
  margin-bottom: 60px;
  border: none;
  padding: 10px 380px 10px 10px;
  background-color: #f4f4f2;
}

footer {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 50px;
  background-color: #333333;
  font-size: 13px;
}

footer ul {
  display: block;
  margin: 10px auto;
  padding: 0;
  color: #f4f4f2;
}

footer li:first-child {
  padding-top: 10px;
}
footer li {
  padding: 5px 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  color: gray;
}
