.title-box{
    display: flex;
    justify-content: flex-start;

    /* margin-bottom: 20px; */
    line-height: 60px;
    padding: 0 20px;
    background-color:#F4F4F2;
}

.title-box h2{
    font-size: 18px;
}
.title-box span{
    padding: 0 20px 12px;
}
.title-box p{
    font-size: 13px;
}

.coffee-contents{
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-bottom: 40px;

}

.coffee-imgbox{
    margin-bottom: 15px;
    height: 260px;
    width: 245px;  
    overflow: hidden;
}

.coffee-imgbox > img{
    object-fit: cover;
    width: 100%;
    transition: transform 1s;
    cursor: pointer;
}
.coffee-imgbox img:hover{
    transform: scale(1.1, 1.1);
  }


.coffee-contents p {
    text-align: center;
}

