body {
  font-family: nbg, "맑은 고딕", HelveticaNeue, DroidSans, sans-serif, Helvetica;
  font-size: 12px;
}

button {
  width: 100%;
  padding: 7px 0;
  background-color: #aed3ea;
  color: #ecf5fa;
  border: none;
  border-radius: 7px;
}

.navItemsContainer {
  display: flex;
}

.navItemsContainer li {
  padding-left: 30px;
  color: #b3b3ae;
  font-family: Avenir, Arial, georgia;
  font-size: 14px;
}

.logo {
  font-size: 20px;
  cursor: pointer;
}

::placeholder {
  font-family: nbg, "맑은 고딕", HelveticaNeue, DroidSans, sans-serif, Helvetica;
  font-size: 12px;
}
