body {
  /* border: 1px solid black; */
  background-color: #eeefef;
  font-family: Arial, serif;
  font-size: 12px;
}

.logo {
  text-align: center;
  font-size: 40px;
  cursor: default;
}

.loginBox {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  height: 370px;
  margin: 100px auto;
  padding: 37px;
  box-sizing: border-box;
  position: relative;
}

.loginBox input {
  background-color: #f7f7f7;
  padding: 8px 6px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 13px;
}

.loginBox,
input {
  border: 2px solid #dddddd;
  border-radius: 4px;
}

.loginFormContainer {
  /* background-color: blue; */
  padding-top: 30px;
}

.loginFormContainer ::placeholder {
  font-size: 12px;
}

.forgotPw {
  color: #8dadc2;
  position: absolute;
  bottom: 45px;
  align-self: center;
  cursor: pointer;
}
