body {
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: #eeefef;
  font-family: Arial, serif;
  font-size: 12px;
}

form {
  padding-top: 30px;
}

form ::placeholder {
  font-size: 12px;
}

.logo {
  font-size: 40px;
  text-align: center;
  cursor: default;
}

.loginBox {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 300px;
  margin: 0 auto;
  padding: 37px;
  box-sizing: border-box;
  background-color: #fff;
}

.loginBox input {
  width: 100%;
  margin-bottom: 13px;
  padding: 8px 6px;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.loginBox,
input {
  border: 2px solid #dddddd;
  border-radius: 4px;
}

.forgotPw {
  position: absolute;
  bottom: 45px;
  align-self: center;
  color: #8dadc2;
  cursor: pointer;
}
