* {
    box-sizing: border-box;
}

body {
    background-color: #edefef;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.login-box {
    height: 500px;
    width:  400px;
    border: 2px solid #DDDDDD;
    background-color: white;
    padding-top: 30px;
    border-radius: 5px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: center;
    font-size: 65px;
    margin: 20px 0px;
}

.login-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-input input {
    padding: 10px;
    width: 300px;
    border: 2px solid #DDDDDD;
    border-radius: 4px;
    background-color: #F7F7F7;
    margin-block: 8px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.login-button button {
    padding: 10px;
    width: 300px;
    color: white;
    background-color: #61ADEC;
    opacity: 0.5;
    border-radius: 5px;
    border: none;

}
.isfind-pw {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: #61ADEC;
}

