* {
  box-sizing: border-box;
}

body {
  padding: 3rem;
}

.coffee--nav {
  background-color: #f4f4f2;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.nav__menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.nav__logo {
  margin: 1em;
}

.nav__menu--list {
  margin: 1em;
}

.list--wrap__listpage {
  width: 100%;
}

.list--head__coldbrew {
  padding: 1rem;
  background-color: #f4f4f2;
}

.list--wrap__coldbrew {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.list--wrap__coldbrew--item:hover {
  transform: scale(1.1, 1.1);
}

.list--head__brewed {
  padding: 1rem;
  background-color: #f4f4f2;
}

.list--wrap__brewed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
