@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap");
html,body {
  height: 100vh;
  width: 100vh;
  font-size: 14px;
  margin: 0, 0;

  position: relative;
  background-color: #edefef;
}

.login-wrap {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-top: 250px;
  margin-left: -200px;

  height: 500px;
  width: 400px;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
}

.login-wrap-inner {
  margin: 0,auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: pink;
}

.logo-wrap {
  height: 20%
  background-color: orange;
  font-family: "WindSong", cursive;
}

.form-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 30%
  background-color: yellowgreen;
}

.find-wrap {
  text-align: center;
  background-color: green;
}
