body {
  background-color: lightgray;
  margin-left: 500px;
  margin-top: 100px;
}

/* 내부 컨텐츠들로 채우는게 낫다 처음부터 height 주는 습관 버리기*/
.loginArea {
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  width: 370px;
  height: 450px;
  align-content: center;
  border-radius: 3px;
}
.pwInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  margin-bottom: 15px;
  background-color: #f7f7f7;
}
.idInput {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  margin-bottom: 15px;
  background-color: #f7f7f7;
}

.loginBtn {
  width: 80%;
  border: none;
  height: 35px;
  border-radius: 8px;
  color: white;
  margin-bottom: 50px;
  background-color: #add3ea;
}
a {
  color: #91aec4;
  font-size: 8px;
  font-weight : bold;
}
